# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Packages
*.zip
package/

# Test cache
.hypothesis/
.pytest_cache/
